<a href="https://colab.research.google.com/github/raufbiswas/CSE/blob/main/CSE110_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LAB1

In [ ]:
print("hello world")

hello world

In [ ]:
print(54+56)

110

In [ ]:
season = "Summer"
year = 2023
print(f"{season}\n{year}")

Summer
2023

In [ ]:
print(f"Your name is {input()}")

John
Your name is John

In [ ]:
num1 = int(input())
num2 = int(input())
print(f"{num1}^{num2}: {num1**num2}")

2
3
2^3: 8

In [ ]:
a = int(input())
print(a - a%4)

11
8

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = float(input())
print(int(a**c + b*a - d/3))

88
22
1
3.3
2022

In [ ]:
num = int(input())
print(f"Each friend will get {num//3} chocolates")
print(f"The number of remaining chocolates is {num%3}")

90
Each friend will get 30 chocolates
The number of remaining chocolates is 0

In [ ]:
M = input()
N = input()
print(N+M)

5
2
25

In [ ]:
int1 = int(input())
flot = float(input())
int2 = int(input())
sum = int1+flot
print(f"The input is: {int1}, {flot}, {int2}")
print(f"The result is {str(sum)+str(int2)}")

3
11.57
7
The input is: 3, 11.57, 7
The result is 14.577

In [ ]:
num = int(input())
if num%2 == 0:
    print(True)
else:
    print(False)

5
False

#LAB2

In [ ]:
num1 = int(input())
num2 = int(input())
print(f"Sum = {num1+num2}\nProduct = {num1*num2}\nDifference = {num1-num2}")

4
5
Sum = 9
Product = 20
Difference = -1

In [ ]:
import math
radi = float(input())
print(f"Area is {math.pi*radi**2}\nCircumference is {2*math.pi*radi}")

4
Area is 50.26548245743669
Circumference is 25.132741228718345

In [ ]:
num1 = int(input())
num2 = int(input())
sum = num1-num2
if sum>0:
    print("First is greater")
elif sum<0:
    print("Second is greater")
else:
    print("The numbers are equal")

11
11
The numbers are equal

In [ ]:
num1 = int(input())
num2 = int(input())
sum = num1-num2
if sum>=0:
    print(num1-num2)
else:
    print(num2-num1)

5
5
0

In [ ]:
num = int(input())
if num%2 == 0:
    print("The number is even")
else:
    print("The number is odd")

-44
The number is even

In [ ]:
num = int(input())
if num%2 == 0 or num%5 == 0:
    print(num)
else:
    print("Not a multiple of 2 OR 5")

3
Not a multiple of 2 OR 5

In [ ]:
num = int(input())
if num%2 == 0 and num%5 == 0:
    print("Multiple of 2 and 5 both")
elif num%2 == 0 or num%5 == 0:
    print(num)
else:
    print("Not a multiple we want")

17
Not a multiple we want

In [ ]:
num = int(input())
if num%2 == 0 and num%5 == 0:
    print(num)
else:
    print("Not multiple of 2 and 5 both")

6
Not multiple of 2 and 5 both

In [ ]:
sec = int(input())
hours = sec//3600
minutes = (sec%3600)//60
seconds = (sec%3600)%60
print(f"Hours: {hours} Minutes: {minutes} Seconds: {seconds}")

500
Hours: 0 Minutes: 8 Seconds: 20

In [ ]:
wh = int(input())
if wh < 0:
    print("Hour cannot be negative")
elif wh > 168:
    print("Impossible to work more than 168 hours weekly")
else:
    if wh <= 40:
        print(wh*200)
    else:
        print(8000+(wh-40)*300)

169
Impossible to work more than 168 hours weekly

In [ ]:
s = int(input())
if s < 100:
    print(3000-(125*s**2))
else:
    print(12000/(4+(s**2/14900)))

3
1875

In [ ]:
time = float(input())
if 0>time or time>=24:
    print("Wrong time")
elif 6>=time>=4:
    print("Breakfast")
elif 13>=time>=12:
    print("Lunch")
elif 17>=time>=16:
    print("Snacks")
elif 20>=time>=19:
    print("Dinner")
else:
    print("Patience is a virtue")

16.30
Snacks

In [ ]:
mark = int(input())
if mark<0 or mark>100:
    print("A student can't get negative or more than 100 marks.")
elif mark>=90:
    print("A")
elif 89>=mark>=80:
    print("B")
elif 79>=mark>=70:
    print("C")
elif 69>=mark>=60:
    print("D")
elif 59>=mark>=50:
    print("E")
else:
    print("F")

50
E

In [ ]:
distance = int(input())/1000
time = int(input())/3600
velocity = distance/time
if velocity>0:
    if velocity<60:
        print(f"{velocity} km/h\nToo slow. Needs more changes.")
    elif 90>=velocity>=60:
        print(f"{velocity} km/h\nVelocity is okay. The car is ready!")
    else:
        print(f"{velocity} km/h\nToo fast. Only a few changes should suffice.")

160000
7200
80.0 km/h
Velocity is okay. The car is ready!

In [ ]:
cgpa = float(input())
credits = int(input())
if cgpa<3.8 or credits<30:
    print("The student is not eligible for a waiver")
elif 3.89>=cgpa>=3.80:
    print("The student is eligible for a waiver of 25 percent.")
elif 3.94>=cgpa>=3.90:
    print("The student is eligible for a waiver of 50 percent.")
elif 3.99>=cgpa>=3.95:
    print("The student is eligible for a waiver of 75 percent.")
elif cgpa == 4.00:
    print("The student is eligible for a waiver of 100 percent.")

4.00
30
The student is eligible for a waiver of 100 percent.

#LAB3

In [ ]:
for num in range (24,-7,-6):
    if num != -6:
        print(num, end=", ")
    else:
        print(num)

24, 18, 12, 6, 0, -6

In [1]:
name = input()
num = int(input())
for i in range(num):
    print(name)

Toyota
Toyota
Toyota
Toyota
Toyota

In [1]:
sum = 0
for num in range (601):
    if num%7 == 0 and num%9 == 0:
        sum+=num
print(sum)

2835

In [4]:
sum = 0
for num in range(601):
    if num%7 == 0 or num%9 == 0:
        if not(num%7 == 0 and num%9 == 0):
            sum+=num
print(sum)

39814

In [3]:
for num in range(10,51):
    if num%2 != 0:
        print(num, end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [8]:
sum = 0
for num in range(int(input())+1):
    if num%2 == 0:
        sum-=num**2
    else:
        sum+=num**2
print(sum)

-210

In [10]:
total = 0
count = 0
for inp in range(10):
    num = int(input())
    if num%2 != 0:
        total+=num
        count+=1
print(f"The total of the odd numbers is {total} and their average is {total/count}")

The total of the odd numbers is 90 and their average is 22.5

In [13]:
sum = 0
for num in range(int(input())+1):
    if num%7 == 0:
        sum+=num
print(sum)

196

In [15]:
sum = 0
for num in range(5):
    inp = int(input())
    sum+=inp
    print(sum)

11
-18
-21
26
76

In [21]:
num = int(input())
for i in range(len(str(num))):
    if num > 10:
        print(num%10, end= ", ")
    else:
        print(num)
    num = num//10

5, 4, 3, 9, 6, 4, 8

In [25]:
count = 0
num = int(input())
while num>0:
    count+=1
    num = num//10
print(count)

10

In [33]:
num = int(input())
while num>0:
    length = len(str(num))-1
    if num>10:
        print(num//10**length, end=", ")
    else:
        print(num//10**length)
    num = num%10**length

3, 2, 7, 6, 8

In [35]:
num = int(input())
count = 0
for i in range(1,num+1):
    if num%i == 0:
        print(i)
        count+=1
print(f"Total {count} divisors.")

1
11
121
Total 3 divisors.

In [3]:
num = int(input())
count = 0
for i in range(1,num):
    if num%i == 0:
        count+=i
if count == num:
    print(f"{num} is a perfect number.")
else:
    print(f"{num} is not a perfect number.")

33 is not a perfect number.

In [1]:
num = int(input())
count = 0
for i in range(1,num+1):
    if num%i == 0:
        count+=1
if count == 2:
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

6 is not a prime number

In [3]:
count = 0
sum = 0
max = 0
min = 0
for i in range(int(input())):
    num = int(input())
    sum+=num
    count+=1
    if max<num:
        max = num
    elif min>num:
        min = num
print(f"Maximum {max}\nMinimum {min}\nAverage is {sum/count}")

Maximum 70
Minimum -5
Average is 28.8

In [4]:
num = int(input())
for i in range(num):
    print("+"*num)

+++++
+++++
+++++
+++++
+++++

In [3]:
m = int(input())
n = int(input())
for i in range(m):
    for j in range(1, n+1):
        print(j, end='')
    print()

123456
123456
123456
123456

In [4]:
num = int(input())
for i in range(1, num+1):
    for j in range(1,i+1):
        print(j, end='')
    print()

1
12
123
1234

In [16]:
num = int(input())
a = 0
b = 1
for i in range(num):
    print(a, end= " ")
    c = a+b
    a=b
    b = c
    if a >= num:
        break

0 1 1 2 3 5 8

In [24]:
num = int(input())
string = ""
while num>0:
    x = num%2
    num = num//2
    string+=str(x)
print(int(string[::-1]))

1101

In [3]:
num = input()
length = len(num)-1
decimal = 0
for digit in num:
    decimal+=(int(digit)*2**length)
    length-=1
print(decimal)

29

In [8]:
start = int(input())
end = int(input())
sum = 0
count = 0
c_prime = 0
c_perfect = 0
prime = ""
perfect = ""
for num in range(start, end+1):
    for i in range(1,num):
        if num%i == 0:
            count+=1
            sum+=i
    
    if count == 1:
        c_prime+=1
        prime+=str(num)+", "
        count = 0
    else:
        count = 0
    if sum == num:
        c_perfect+=1
        perfect+=str(num)+", "
        sum = 0
    else:
        sum = 0

print(f"Between {start} and {end},\nFound {c_prime} prime numbers\nFound {c_perfect} perfect number")
print(f"Prime number: {prime[:-2]}\nPerfect number: {perfect[:-2]}")

Between 1 and 100,
Found 25 prime numbers
Found 2 perfect number
Prime number: 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97
Perfect number: 6, 28

In [10]:
start = int(input())
end = int(input())
extra = int(input())
product = 1
string = ""
for num in range (start, end+1):
    for digit in str(num):
        product*=int(digit)
    if product%extra == 0:
        string+=str(product)+" "
        product = 1
    else:
        product = 1
print(string[:-1])

45 90

#LAB4

In [12]:
print(input()[::-1])

nohtyP

In [4]:
num = input()
index = int(input())
print(num[index::-1]+num[index+1:])

21dcBa34defg

In [8]:
string = input()
binary = ""
for digit in string:
    if digit == "0" or digit == "1":
        binary+=digit
    else:
        pass
if binary == string:
    print("Binary Number")
else:
    print("Not a Binary Number")

Not a Binary Number

In [15]:
string = input()
length = len(string)
if string[length-2:] == "er":
    print(string[:length-2:]+"est")
elif length<4:
    print(string)
elif length>3 and string[length-3] == "est":
    print(string)
else:
    print(string + "er")

best

In [16]:
string = input()
length = len(string)
for num in range(length):
    print(string[:num+1])

B
BA
BAN
BANG
BANGL
BANGLA

In [18]:
for i in input():
    print(f"{i}: {ord(i)}")

P: 80
r: 114
o: 111
g: 103
r: 114
a: 97
m: 109
m: 109
i: 105
n: 110
g: 103

In [21]:
for i in input():
    if i != "z":
        print(chr(ord(i)+1), end="")
    else:
        print("a", end="")

yzabcd

In [25]:
string = input()
for i in string[1::2]:
    if 122>=ord(i)>=97:
        print(chr(ord(i)-32), end="")
    else:
        print(i,end="")

TIG

In [27]:
string = input()
for i in range(len(string)):
    if i == 0:
        print(string[i], end="")
    else:
        if string[i] != string[i-1]:
            print(string[i], end="")
        else:
            pass

Jupyter Notebok is beter. Case sensitivity check AaAaAa.

In [38]:
string = input()
str1=""
for i in range(len(string)):
    if string[i]+string[i+1] == ", ":
        str2 = string[i+2:]
        break
    else:
        str1+=string[i]
if len(str1)>len(str2):
    for j in range(len(str2)):
        print(str1[j]+str2[j], end="")
    print(str1[len(str2):])
elif len(str1)<len(str2):
    for j in range(len(str1)):
        print(str1[j]+str2[j], end="")
    print(str2[len(str1):])
else:
    for j in range(len(str1)):
        print(str1[j]+str2[j], end="")

iAjBkClDENDFGH

In [4]:
string = input()
letter = input()
if letter not in string:
    if len(string)>3:
        print(string[1:-1:])
    else:
        print(string)
else:
    for i in string:
        if i == letter:
            pass
        else:
            print(i,end='')

hi

In [7]:
string = input()
char = input()
split_string = ""
for i in string:
    if i != char:
        split_string+=i
    else:
        print(split_string)
        split_string=""
print(split_string)

tom@gmail
harry@yahoo
bob@gmail
mary@gmail

In [10]:
string = input()
num = int(input())
if num%2 == 0:
    print(string*(num*2))
else:
    print(string*(num*3))

CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

In [18]:
string = input()
if 90 >= ord(string[0]) >= 65:
    empty = string[0]
else:
    empty = chr(ord(string[0]) - 32)
print(empty, end="")
for i in string[1:]:
    if 90 >= ord(i) >= 65 or 122 >= ord(i) >= 97:
        if 90 >= ord(i) >= 65 and 90 >= ord(empty) >= 65:
            i = chr(ord(i) + 32)
        elif 122 >= ord(i) >= 97 and 122 >= ord(empty) >= 97:
            i = chr(ord(i) - 32)
        else:
            i=i   
        print(i, end="")
        empty = i
    else:
        print(i, end="")

I       lOvE         pYtHoN         pRoGrAmMiNg

#LAB5

In [20]:
empty_list = []
for num in range(5):
    num = int(input())
    empty_list.append(num)
    print(f'Numbers in the list: {empty_list}')

Numbers in the list: [3]
Numbers in the list: [3, 5]
Numbers in the list: [3, 5, 34]
Numbers in the list: [3, 5, 34, -11]
Numbers in the list: [3, 5, 34, -11, 0]

In [25]:
inp_list = [int(x) for x in input().split(", ")]
#the input is a single string so to sperate it I use ".split"
#and to convert the number form string to int I use int(x) 
new_list = []
if len(inp_list)>=4:
    print(inp_list[2:-2])
else:
    print("Not possible")

Not possible

In [29]:
inp_list = []
for num in range(5):
    inp = int(input())
    inp_list.append(inp)
for x in inp_list[::-1]:
    print(x)

0
1
100
-5
5

In [30]:
given_list = [1, 2, 3, 4, 5, 6, 7]
new_list = [(x**2) for x in given_list]
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

In [34]:
given_list = ["hey", "there", "", "what's", "", "up", "", "?"]
new_list = [x for x in given_list if x != ""]
# if & for in one line
print(new_list)

['hey', 'there', "what's", 'up', '?']

In [41]:
string = input().split(",")
inp_list = [int(x) for x in string]
max_index = 0
max_num = inp_list[0]
for num in range(len(inp_list)):
    if max_num<inp_list[num]:
        max_num = inp_list[num]
        max_index = num
    else:
        pass
print(f"My list: {inp_list}\nLargest number in the list is {max_num} which was found at index {max_index}.")

My list: [7, 34, 4, 5, 67, 8, 96, 78]
Largest number in the list is 96 which was found at index 6.

In [1]:
list1 =  [1, 4, 7, 5]
list2 = [6, 1, 3, 9]
print(list1[:-1]+list2)

[1, 4, 7, 6, 1, 3, 9]

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [10, 11, 12, -13, -14, -15, -16]
modified_list = [x for x in list1 if x%2 == 0]
modified_list += [x for x in list2 if x%2 == 0]
print(modified_list)

[2, 4, 6, 8, 10, 12, -14, -16]

In [4]:
string = input()+" "
olist = []
st = ""
for x in string:
    if x != ' ':
        st+=x
    else:
        olist.append(int(st))
        st = ""
print(f"Original list: {olist}")
print(f"Modified list: {[x for x in olist if x%2 != 0]}")

Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

In [11]:
string = input().split(", ")
inp_list = [int(x) for x in string]
print(f"Input list: {inp_list}")
modified_list = [ ]
for x in inp_list:
    if x not in modified_list:
        modified_list.append(x)
print(f"Modified list: {modified_list}")

Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list1 = [1, 4, 3, 2, 6,10]
list2 = [5, 6, 9, 8, 7]
flag = False
for x in list1:
    if x in list2:
        flag = True
        break
    else:
        flag = False
print(flag)

True

In [23]:
string = input().split(", ")
inp_list = [int(x) for x in string]
print(f"My list: {inp_list}")
max1 = inp_list[0]
max2 = 0
for x in inp_list:
    if x > max1:
        max2 = max1
        max1 = x
    elif x>max2<max1:
        max2 = x
print(f"Second largest number in the list is {max2} which was found at index {inp_list.index(max2)}")

My list: [7, 13, 2, 10, 6, -11, 0]
Second largest number in the list is 10 which was found at index 3

In [25]:
string = input().split(", ")
inp_list = [int(x) for x in string]
print(f"My list: {inp_list}")
max1 = inp_list[0]
min1 = inp_list[0]
for x in inp_list:
    if x > max1:
        max1 = x
    elif x < min1:
        min1 = x
print(f"Smallest number in the list is {min1} which was found at index {inp_list.index(min1)}")
print(f"Largest number in the list is {max1} which was found at index {inp_list.index(max1)}")

My list: [7, 13, 2, 10, 6, -11, 0]
Smallest number in the list is -11 which was found at index 5
Largest number in the list is 13 which was found at index 1

In [31]:
inp_list1 = input().split(", ")
inp_list2 = input().split(", ")
print([x for x in inp_list2 if x in inp_list1])

['A', '1', 'P']

In [34]:
list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
list_three = []
for x in list_one+list_two:
    if x not in list_three:
        list_three.append(x)
print(list_three)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [44]:
inp_list = input()
print(f"Original data: {inp_list}")
inp_list = inp_list.strip()[1:-1]
print(f"After removing square brackets: {inp_list}")
inp_list = inp_list.split(",")
print(f"Numbers in string format with extra white spaces: {inp_list}")
# \xa0 represents white spaces
print(f"Final data (numbers in list format: {[int(x.strip()) for x in inp_list]})")

Original data:       [1,   2   ,         3,   50,   4]
After removing square brackets: 1,   2   ,         3,   50,   4
Numbers in string format with extra white spaces: ['1', '\xa0 \xa02\xa0 \xa0', '\xa0 \xa0\xa0 \xa0\xa0 \xa03', '\xa0 \xa050', '\xa0 \xa04']
Final data (numbers in list format: [1, 2, 3, 50, 4])

In [46]:
string = input().split(",")
inp_list = [int(x.strip()) for x in string]
print(f"Given number in list: {inp_list}")
new_list = []
for x in inp_list:
    if x not in new_list:
        new_list.append(x)
print(f"List without any duplicate values: {new_list}")

Given number in list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
List without any duplicate values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#LAB6

In [9]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [5]:
tup = (10, 20, 24, 25, 26, 35, 70)
print(tuple([x for x in tup[2:-2]]))

(24, 25, 26)

In [8]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

print(f"Size of the tuple is: {len(book_info)}")
for x in book_info:
    print(x)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [10]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for x in book_info:
    print(f"{x[1]} won the '{x[0]}' category with {x[2]} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [14]:
tup =  (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
num = int(input())
count = 0
for x in tup:
    if num == x:
        count+=1
print(f"{num} appears {count} times in the tuple")

1 appears 0 times in the tuple

In [15]:
tup = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
print(tuple(list(tup)[::-1]))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [20]:
dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}
dic = {key: value for d in [dict1, dict2] for key, value in d.items()}
#first I add the two dictionary in a list. Then I use 2 for loops and merge the two dictionary
print(dic)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [24]:
inp = input().split(", ")
sum = 0
count = 0
for x in inp:
    x = x.split(":")
    sum+=int(x[1])
    count+=1
print(f"Average is {int(sum/count)}")

Average is 110

In [25]:
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
inp = int(input())
dic = {}
for name,marks in exam_marks.items():
    if marks>inp:
        dic[name] = marks
print(dic)

{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [27]:
given_dic = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max = 0
for name, sell in given_dic.items():
    if max<sell:
        max = sell
        book_name = name
print(f"The highest selling book genre is '{book_name} and the number of books sold are {max}'")

The highest selling book genre is 'mystery and the number of books sold are 15'

In [34]:
string = input()
dic = {}
for i in string:
    i = i.lower()
    if i.isalpha():
        #.isalpha means the value of i has to be alphabetic
        if i not in dic.keys():
            dic[i] = 1
        else:
            dic[i]+=1
print(dic)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [35]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0
for value in dict_1.values():
    for x in value:
        count+=1
print(count)

9

In [36]:
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dic = {}
for x in list_1:
    if x[0] not in dic:
        dic[x[0]] = [x[1]]
    else:
        dic[x[0]] += [x[1]]
print(dic)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [37]:
given = [(2, 3), (4, 5), (6, 7), (2, 8)]
print([i[0]*i[1] for i in given])

[6, 20, 42, 16]

In [43]:
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
inp = input()
tup = []
for i in a_tuple:
    i[-1] = inp
print(a_tuple)

([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

In [45]:
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
print({key:value for key,value in my_dictionary.items() if value != None})

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [1]:
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
lower = int(input())
upper = int(input())
print({key:value for key,value in dict_1.items() if upper>value>=lower})

{'c': 9, 'e': 11}

In [3]:
given = [(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]
dic = {}
for x in given:
    if x[1] not in dic:
        dic[x[1]] = [x]
    else:
        dic[x[1]] += [x]
print(dic)

{'Sad': [(20, 'Sad'), (31, 'Sad')], 'NotSad': [(88, 'NotSad'), (27, 'NotSad')]}

In [10]:
string = input()[:-1]
sp_list = input()[2:-2].split("', '")
str_list = []
ascii_sum = 0
dic = {}
if "." in string:
    string = string.split(". ")
    for i in string:
        str_list += i.split(" ")
else:
    str_list = string.split(" ")
length = len(sp_list)
for x in str_list:
    for z in x:
        ascii_sum += ord(z)
    key = sp_list[ascii_sum%length]
    ascii_sum = 0
    if key not in dic:
        dic[key] = [x]
    else:
        if x not in dic[key]:
            dic[key] += [x]
        else:
            pass
print(f"Words in given String: {str_list}\nAnswer: {dic}")

Words in given String: ['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']
Answer: {'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'], '*': ['of'], '-': ['is']}

#LAB7

In [1]:
def even_checker(x):
    if x%2 == 0:
        print("Even!!")
    else:
        print("Odd!!")
even_checker(5)

Odd!!

In [4]:
def fibonacci(x):
    a = 0
    b = 1
    while a <= x:
        c = a+b
        print(a, end = " ")
        a = b
        b = c
fibonacci(10)

0 1 1 2 3 5 8

In [11]:
def foo_moo(x):
    rtrn = "Boo"
    if x%2 == 0 and x%3 == 0:
        rtrn  = "FooMoo"
    elif x%2 == 0:
        rtrn = "Foo"
    elif x%3 == 0:
        rtrn = "Moo"
    return rtrn
print(foo_moo(13))

Boo

In [12]:
def function_name(string):
    lcount = 0
    ucount = 0
    for letter in string:
        if 90>=ord(letter)>=65:
            ucount += 1
        elif 122>=ord(letter)>=97:
            lcount += 1
    print(f"No. of Uppercase characters: {ucount}\nNo. of Lowercase characters: {lcount}")
function_name('The quick Sand Man')

No. of Uppercase characters: 3
No. of Lowercase characters: 12

In [16]:
def calculate_tax(age, salary, designation):
    designation = designation.lower()
    tax = 0
    if age<18 or salary<10000 or designation == "president":
        tax = 0
    elif 20000>=salary>=10000:
        tax = salary*(5/100)
    else:
        tax = salary*(10/100)
    return tax
print(calculate_tax(int(input()), int(input()), input()))

0

In [20]:
def function_name(days):
    years = days//365
    months = (days%365)//30
    days = (days%365)%30
    print(f"{years} years, {months} months and {days} days")
function_name(int(input()))

6 years, 2 months and 0 days

In [25]:
def show_palindrome(x):
    palindrome = ""
    for i in range(1,x+1):
        palindrome+=str(i)
    for j in palindrome[-2::-1]:
        palindrome+=str(j)
    return palindrome
print(show_palindrome(5))

123454321

In [39]:
def show_palindromic_triangle(x):
    space = x*2 - 2
    string = ""
    for i in range(1,x+1):
        print(" "*space, end='')
        for j in range(1,i+1):
            print(j, end= " ")
        for k in range(i-1,0,-1):
            print(k, end= " ")
        print()
        space-=2
show_palindromic_triangle(9)

                1
              1 2 1
            1 2 3 2 1
          1 2 3 4 3 2 1
        1 2 3 4 5 4 3 2 1
      1 2 3 4 5 6 5 4 3 2 1
    1 2 3 4 5 6 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

In [40]:
def area_circumference_generator(radius):
    import math
    area = math.pi*radius**2
    cir = 2*math.pi*radius
    return (area,cir)
areacir = area_circumference_generator(1.5)

area, cir = areacir
print(areacir)
print(f"Area of the circle is {area} and circumference is {cir}")

(7.0685834705770345, 9.42477796076938)
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938

In [42]:
def make_square(tup):
    print({key:key**2 for key in range(tup[0], tup[1]+1)})
make_square((1,3))

{1: 1, 2: 4, 3: 9}

In [1]:
def rem_duplicate(tup):
    new = []
    for i in tup:
        if i not in new:
            new.append(i)
    return tuple(new)
print(rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)))

(1, 2, 3, 4, 5, 6, 0)

In [3]:
def function_name(x):
    new = []
    for i in x:
        if new.count(i) < 2:
            new.append(i)
    print(f"Removed: {len(x)-len(new)}")
    return new
print(function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [5]:
def function_name(op,num1,num2):
    result = 0
    if op == "+":
        result = num1+num2
    elif op == "-":
        result = num1-num2
    elif op == "*":
        result = num1*num2
    elif op == "/":
        result = num1/num2
    return result
print(function_name(input(),int(input()),int(input())))

210

In [8]:
def function_name(sen,pos):
    new = sen[0]
    removed = ""
    for i in range(1,len(sen)):
        if i%pos == 0:
            removed += sen[i]
        else:
            new += sen[i]
    return new+removed
print(function_name(input(), int(input())))

Pythonis eay to earn.I lov pythn. sl eo

In [11]:
def function_name(items,loc='Dhanmondi'):
  items = items[2:-2:]
  items = items.split('", "')
  total = 0
  items_dic = {"Rice":105, "Potato":20, "Chicken":250, "Beef":510, "Oil":85}
  for item in items:
    total += items_dic[item]
  if loc == 'Dhanmondi':
    total += 30
  else:
    total += 70
  return total
print(function_name(input(),'Mohakhali'))

790

In [34]:
def money(taka):
    money_list = [500, 100, 50, 20, 10, 5, 2, 1]
    total = []
    for note in money_list:
        if taka>=note:
            t = taka//note
            taka = taka%note
            total.append(f"{note} Taka: {t} note(s)")
    return (total)

total = money(int(input()))
print("\n".join(total))

500 Taka: 2 note(s)
100 Taka: 2 note(s)
20 Taka: 1 note(s)
10 Taka: 1 note(s)
2 Taka: 2 note(s)

In [35]:
def remove_odd(mix):
    return ([x for x in mix if x%2==0])
print(remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9]))

[44, 66, 88, 10]

In [5]:
def function_name(sval,eval,fdiv,sdiv):
    count = 0
    for num in range(sval,eval):
        if num%fdiv == 0 and num%sdiv == 0:
            pass
        elif num%fdiv == 0 or num%sdiv == 0:
            count+=num
    return count
print(function_name(int(input()), int(input()), int(input()), int(input())))

2012

In [11]:
def function_name(string):
    string = string.lower()
    atoj = "abcdefghij"
    count = 0
    for i in atoj:
        if i not in string:
            count+=1
    if count == 0:
        return 5
    else:
        return 6
num = function_name(input())
print("PSG will win the Champions League this season\n"*num)

PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season
PSG will win the Champions League this season

In [13]:
def individul_bonus_calculation(name, earning, goal, percent):
    if goal<20:
        bonus = goal*(percent/100*earning)
    elif 30>=goal>=20:
        bonus = goal*(percent/100*earning)+5000
    else:
        bonus = goal*(percent/100*earning)+10000
    print(f"{name} earned a bonus of {int(bonus)} Taka for {goal} goals.")
individul_bonus_calculation("Neymar", 1200000, 35, 5)

Neymar earned a bonus of 2110000 Taka for 35 goals.

In [18]:
def cal_bonus(*args):
    for i in range(0,len(args), 4):
        name = args[i]
        earning = args[i+1]
        goal = args[i+2]
        percent = args[i+3]
        if goal<20:
            bonus = goal*(percent/100*earning)
        elif 30>=goal>=20:
            bonus = goal*(percent/100*earning)+5000
        else:
            bonus = goal*(percent/100*earning)+10000
        print(f"{name} earned a bonus of {int(bonus)} Taka for {goal} goals.")    
cal_bonus("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10)

Neymar earned a bonus of 2110000 Taka for 35 goals.
Jamal earned a bonus of 1064000 Taka for 19 goals.
Luis earned a bonus of 205000 Taka for 25 goals.